/*
0px			- 		600px:			mobile 		--> Mobile First Approach 
											   	    (where normal styles apply)
600px		- 		900px: 			tab-port 	-->	Tablet Portrait 
900px		-		1200px:			tab-land	-->	Tablet Landscape
1200px		-		1800px:			desk		-->	Desktop 
1800px +							big-desk	-->	Big Desktop

REMEMBER: 1em = 16px;
$breakpoint argument choices
	- tab-port and >	600 --> 900 	: min-width: 37.5em (600/16)
	- tab-land and >	900 --> 1200	: min-width: 56.25em (900/16)
	- desk and >		1200 --> 1800	: min-width: 75em (1200/16)
	- big-desk and >    1800 +			: min-width: 112.5em (1800/16)

ORDER: base + typography > general layout + grid > page layout > components

*/
@keyframes animateNavListContainerMoveIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes animateNavListContainerMoveOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animateNavItemsMoveIn {
  0% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes animateNavItemsMoveOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideMoveInFromRight {
  0% {
    transform: translateX(25rem);
    opacity: 0;
  }
  60% {
    opacity: 0.2;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}
@keyframes slideMoveInFromLeft {
  0% {
    transform: translateX(-25rem);
    opacity: 0;
  }
  60% {
    opacity: 0.2;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}
@keyframes slideMoveOutToLeft {
  0% {
    transform: translateX(0rem);
    opacity: 1;
  }
  40% {
    opacity: 0.3;
  }
  100% {
    transform: translateX(-25rem);
    opacity: 0;
  }
}
@keyframes slideMoveOutToRight {
  0% {
    transform: translateX(0rem);
    opacity: 1;
  }
  40% {
    opacity: 0.3;
  }
  100% {
    transform: translateX(25rem);
    opacity: 0;
  }
}
@keyframes productAnimation {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  /* 	1rem is equal to 10px */
  /* 	because 10px / 10 is equal to 1rem */
  /* 	therefore 30px is equal to 3rem */
  /* 	the default font size of the browser is 16px */
  /* 	10px / 16px *100 = 62.5% */
  font-size: 62.5%;
}
@media (min-width: 37.5em) {
  html {
    /* 	12px / 16px *100 = 75% */
    font-size: 68%;
  }
}
@media (min-width: 56.25em) {
  html {
    /* 	14px / 16px *100 = 81.25% */
    font-size: 72%;
  }
}
@media (min-width: 75em) {
  html {
    /* 	16px / 16px *100 = 100% */
    font-size: 76%;
  }
}
@media (min-width: 112.5em) {
  html {
    /* 	18px / 16px *100 = 112.5% */
    font-size: 80%;
  }
}

body {
  background-color: #f0f0f0;
  /* This makes dealing with the sizes of elements much easier, 
  	and generally eliminates a number of pitfalls you can stumble on
  	 while laying out your content. */
  /* The width and height properties include the content, padding, and border, 
  	but do not include the margin.  Note that padding and border will be inside 
  	of the box. */
  box-sizing: border-box;
  position: relative;
}
@media (min-width: 2000px) {
  body {
    margin: 0 auto;
    max-width: 2000px;
  }
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: #001D36;
  font-family: "Lato", sans-serif;
  font-size: clamp(1.4rem, 4.6vw, 1.6rem);
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
}
@media (min-width: 900px) {
  body {
    text-align: left;
  }
}

.navbarSection {
  color: #f0f0f0;
  font-size: 1rem;
}

.logo__text--headline {
  font-family: "Rum Raisin", sans-serif;
  font-size: 1.9rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 0.825;
}
.logo__text--headlineOrange, .logo__text--headlineTree {
  background: linear-gradient(to bottom, #ffb296 15%, #e94104 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo__text--byline {
  color: #f0f0f0;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1;
}

.primaryHeading {
  color: #f0f0f0;
  font-size: clamp(1.4rem, 4.6vw, 1.6rem);
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}
.primaryHeading__intro {
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}
.primaryHeading__headlineTextMain {
  font-family: "Rum Raisin", sans-serif;
  font-size: clamp(2.6rem, 9vw, 3.2rem);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 0.85;
}
.primaryHeading__headlineTextMain--orange, .primaryHeading__headlineTextMain--tree {
  background: linear-gradient(to bottom, #ffb296 15%, #e94104 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.primaryHeading__headlineTextSub {
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  line-height: 1;
}
.primaryHeading__byline {
  color: #f0f0f0;
}

.headingH2Container__headingH2 {
  color: #001D36;
  font-family: "Playpen Sans", cursive;
  font-size: clamp(2.2rem, 7vw, 2.8rem);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.headingH3Container {
  text-align: center;
}
.headingH3Container__headingH3 {
  color: #005AA7;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(1.6rem, 4.5vw, 1.8rem);
  font-weight: 900;
  text-transform: capitalize;
  line-height: 1;
  letter-spacing: 1px;
}

.headingH4Container {
  text-align: center;
}
.headingH4Container__headingH4 {
  color: #001D36;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
}
.headingH4Container__headingH4--contact {
  color: #225f01;
  font-size: clamp(1.1rem + 1vw, 2.5vh, 1.6rem + 1vw);
}
@media (min-width: 600px) {
  .headingH4Container__headingH4--contact {
    text-align: left;
  }
}
@media (min-width: 56.25em) {
  .headingH4Container__headingH4--contact {
    font-size: clamp(0.9rem + 1vw, 2.3vh, 1.4rem + 1vw);
  }
}
.headingH4Container__headingH4--slide {
  color: #225f01;
  text-transform: uppercase;
  text-align: left;
}
.headingH4Container__headingH4--cardPhoto {
  color: #f0f0f0;
  font-size: clamp(1.15rem, 2.15vw, 2.15rem);
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-align: left;
}
@media (min-width: 56.25em) {
  .headingH4Container__headingH4--cardPhoto {
    font-size: clamp(0.35rem, 1.85vw, 1.35rem);
  }
}

.headingH5Container {
  text-align: center;
}
.headingH5Container__headingH5 {
  color: #001D36;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
}
.headingH5Container__headingH5--contact {
  font-size: clamp(1rem + 1vw, 2.4vh, 1.5rem + 1vw);
}
@media (min-width: 600px) {
  .headingH5Container__headingH5--contact {
    text-align: left;
  }
}
@media (min-width: 56.25em) {
  .headingH5Container__headingH5--contact {
    font-size: clamp(0.8rem + 1vw, 2.2vh, 1.3rem + 1vw);
  }
}
.headingH5Container__headingH5--slide {
  color: #6CB347;
  text-transform: lowercase;
  text-align: left;
}
.headingH5Container__headingH5--cardPhoto {
  color: #d7d7d7;
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-align: left;
}
@media (min-width: 56.25em) {
  .headingH5Container__headingH5--cardPhoto {
    font-size: clamp(0.2rem, 1.7vw, 1.2rem);
  }
}
.headingH5Container__headingH5--loyaltyClubPopUp {
  color: #001D36;
  font-size: clamp(1rem + 1vw, 2.4vh, 1.5rem + 1vw);
  font-weight: 400;
}

.headingSlideContainer {
  text-align: center;
  line-height: 1;
  letter-spacing: 1px;
}
.headingSlideContainer__headingH4--slide {
  color: #225f01;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.1rem + 1vw, 2.5vh, 1.6rem + 1vw);
  font-weight: 700;
  letter-spacing: 0px;
}
@media (min-width: 56.25em) {
  .headingSlideContainer__headingH4--slide {
    font-size: clamp(0.9rem + 1vw, 2.3vh, 1.4rem + 1vw);
  }
}
.headingSlideContainer__headingH5--slide {
  color: #225f01;
  font-family: "Lato", sans-serif;
  font-size: clamp(1rem + 1vw, 2.4vh, 1.5rem + 1vw);
  font-weight: 900;
}
@media (min-width: 56.25em) {
  .headingSlideContainer__headingH5--slide {
    font-size: clamp(0.8rem + 1vw, 2.2vh, 1.3rem + 1vw);
  }
}

.paragraph--heroSection {
  color: #f0f0f0;
}
@media (min-width: 900px) {
  .paragraph--tradingHours {
    text-align: left;
  }
}

.btn {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(1.6rem, 5.2vw, 1.8rem);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn--primary-orange {
  color: #f0f0f0;
}
.btn--primary-white {
  color: #e94104;
  font-size: clamp(1.2rem, 4vw, 1.4rem);
}
.btn--carousel {
  color: #001D36;
  font-size: clamp(2.2rem, 4.5vw, 2.4rem);
}
.btn--loyaltyClubCloseBtn {
  font-size: clamp(1rem, 3vw, 1.2rem);
}
.btn--loyaltyClubCloseX {
  color: #f0f0f0;
}

.navList__navLink {
  color: #e94104;
  font-family: "Lato", sans-serif;
  font-size: clamp(1.4rem + 0.5vw, 2.3vh, 1.8rem + 0.5vw);
  font-weight: 700;
}

.navListSecondary__navLink {
  color: #001D36;
  font-size: clamp(1.15rem + 0.5vw, 2.3vh, 1.65rem + 0.5vw);
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 500px) {
  .navListSecondary__navLink {
    font-size: clamp(1.15rem + 0.8vw, 2.3vh, 3.5rem + 0.8vw);
  }
}
@media (min-width: 1200px) {
  .navListSecondary__navLink {
    font-size: clamp(1.15rem + 1vw, 2.3vh, 3.5rem + 1vw);
  }
}
@media (min-height: 800px) {
  .navListSecondary__navLink {
    font-size: clamp(1.15rem + 0.5vw, 2.6vh, 3.5rem + 0.6vw);
  }
}
@media (min-width: 1200px) and (min-height: 800px) {
  .navListSecondary__navLink {
    font-size: clamp(1.15rem + 1vw, 2.6vh, 3.5rem + 1vw);
  }
}

.cardAbout .cardAboutFigure__caption {
  color: #f0f0f0;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(1.6rem, 4.5vw, 1.8rem);
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 1px;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.cardCarousel__headingH4 {
  color: #264E71;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(1.6rem, 4.5vw, 1.8rem);
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
}
.cardCarousel__paragraph {
  font-weight: 700;
}

.benefitsList__benefitsText {
  font-weight: 700;
}

.cardGoogleReviews__headingH4 {
  color: #001D36;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(1.8rem, 5.5vw, 2rem);
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1px;
}
.cardGoogleReviews__paragraph {
  font-weight: 700;
  text-align: center;
}

.carousel__service {
  font-size: clamp(1.2rem, 4.5vw, 1.4rem);
  line-height: 1.2;
}

.contactUsDetailsComponent {
  text-align: left;
}

.footer {
  color: #001D36;
  font-family: "Lato", sans-serif;
  font-size: clamp(1.4rem, 4.2vw, 1.6rem);
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
}
@media (min-width: 900px) {
  .footer .footerHeroSection__paragraph {
    text-align: left;
  }
}
.footer .primaryHeading__headlineTextSub {
  text-align: left;
}
.footer .secondaryNavSection .secondaryNavList__navItemText {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.footer .termsAndConditionsSection__button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.footer .termsAndConditionsSection__closeButton {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.footer .copyright {
  color: #e94104;
  font-weight: 900;
}
.footer .webdev {
  color: #f0f0f0;
  font-size: clamp(1.2rem, 4.2vw, 1.4rem);
  font-weight: 400;
}
.footer .webdev__name {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.tsAndCs__h2 {
  color: #264E71;
  font-family: "Lilita One", cursive;
  font-size: clamp(2rem, 5vw, 2.4rem);
  font-weight: 900;
  text-align: center;
  line-height: 1;
  letter-spacing: 2px;
  margin: 4rem 0 2rem;
}
.tsAndCs__h3 {
  color: #e94104;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(1.9rem, 5.2vw, 2.5rem);
  font-weight: 900;
  text-align: center;
  line-height: 1;
  letter-spacing: 2px;
  margin: 4rem 0 2rem;
}
.tsAndCs__p {
  color: #001D36;
  font-family: "Lato", sans-serif;
  font-size: clamp(0.9rem + 1vw, 2.3vh, 1.4rem + 1vw);
  font-weight: 400;
  text-align: justify;
  margin: 0 0 0.5rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-xtrasmall {
  margin-bottom: 0.5rem;
}

.u-margin-top-xtrasmall {
  margin-top: 1rem;
}

.u-margin-right-xtrasmall {
  margin-right: 0.5rem;
}

.btn {
  border: 2px solid #f0f0f0;
  border-radius: 0.45rem;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.5);
  width: fit-content;
  padding: 0.6em 0.85em;
  margin: 0 auto;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all 0.2s;
}
.btn:link, .btn:visited {
  text-decoration: none;
  transform: translateY(0px);
}
.btn:active {
  border-bottom: 2px solid #8f8f8f;
  border-right: 2px solid #8f8f8f;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.7);
  transform: translateY(-1px);
}
.btn--primary-orange {
  background-color: #e94104;
}
.btn--primary-white {
  background-color: #f0f0f0, 0.85;
  border: 2px solid #e94104;
  padding: 0.55em 1.25em;
}
.btn--carousel {
  background-color: #f0f0f0;
  border: 1px solid #001d36;
  box-shadow: none;
}
.btn--loyaltyClubCloseBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #f0f0f0, 0.85;
  border: 1px solid #001d36;
  padding: 0.8em 1.6em;
}

.cardAbout {
  border: 2px solid #6CB347;
  border-radius: 0.5rem;
  position: relative;
}
@media (min-width: 450px) {
  .cardAbout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
}
.cardAbout .cardAboutFigure {
  background: linear-gradient(to top right, #005aa7 55%, rgba(240, 240, 240, 0.1) 100%);
  border-bottom: 2px solid #6CB347;
  position: relative;
}
@media (min-width: 450px) {
  .cardAbout .cardAboutFigure {
    flex: 1 0 45%;
  }
}
@media (min-width: 1200px) {
  .cardAbout .cardAboutFigure {
    flex: 1 0 35%;
  }
}
.cardAbout .cardAboutFigure__image {
  width: 100%;
  height: 100%;
}
.cardAbout .cardAboutFigure__figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.cardAbout .cardAboutFigure::before {
  content: "";
  background: linear-gradient(to top, #001d36 5%, rgba(0, 0, 0, 0.1) 45%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.cardAbout .paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
@media (min-width: 1200px) {
  .cardAbout .paragraph {
    padding: 0 5rem;
  }
}

.cardCarousel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  border: 2px solid #6CB347;
  box-shadow: 2px 2px 12px 4px rgba(30, 32, 32, 0.3);
  min-height: 22rem;
  padding: 2rem 1rem;
  margin: 3rem 0 2rem;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 600px) {
  .cardCarousel {
    min-height: 23rem;
    padding: 2rem 5rem;
  }
}
@media (min-width: 900px) {
  .cardCarousel {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    min-height: 18rem;
    padding: 3rem 2rem;
  }
}
.cardCarousel__imgContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 900px) {
  .cardCarousel__imgContentContainer {
    gap: 2rem;
    min-width: 20rem;
  }
}
.cardCarousel__pricingImgContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 1.2rem;
}
@media (min-width: 900px) {
  .cardCarousel__pricingImgContainer {
    flex-wrap: wrap;
    gap: 2rem;
    min-width: 15rem;
  }
}
.cardCarousel__img {
  width: 4rem;
}

.hidden {
  display: none;
  opacity: 0;
}

.visible {
  display: flex;
  opacity: 1;
}

.cardGoogleReviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgb(255, 255, 255);
  border: 2px solid #6CB347;
  border-radius: 0.5rem;
  padding: 2rem;
}
@media (min-width: 600px) {
  .cardGoogleReviews {
    flex: 0 0 45%;
  }
}
.cardGoogleReviews__paragraph {
  position: relative;
  background-color: transparent;
  z-index: 100;
}
.cardGoogleReviews__paragraph::after {
  content: "";
  display: block;
  background-image: url("../../img/SvgIcons/quoteIcon.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 10rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -2rem;
  left: 0rem;
  z-index: -100;
  opacity: 0.2;
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
  width: 100%;
  margin-bottom: 5rem;
}
@media (min-width: 600px) {
  .carousel {
    gap: 3.5rem;
    margin-bottom: 3rem;
  }
}
@media (min-width: 900px) {
  .carousel {
    gap: 2rem;
    margin-bottom: 3rem;
  }
}
.carousel__slideWrapper {
  min-height: 27rem;
  position: relative;
}
@media (min-width: 600px) {
  .carousel__slideWrapper {
    min-height: 26rem;
  }
}
@media (min-width: 900px) {
  .carousel__slideWrapper {
    min-height: 21rem;
  }
}
.carousel__serviceWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.carousel__service {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #3E6629;
  box-shadow: 1px 1px 6px 2px rgba(30, 32, 32, 0.3);
  width: 6rem;
  height: 5rem;
}
.carousel__buttonWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.carousel__indexWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.carousel__iconBtn {
  width: 4rem;
  height: 4rem;
}
.carousel__index {
  background-color: #001d36;
  border-radius: 100%;
  width: 7px;
  height: 7px;
}

.highlightBorder {
  border: solid 2px #6CB347;
  box-shadow: none;
}

.highlightIndex {
  background-color: rgba(240, 240, 240, 0.3);
  border: 1px solid #1E2020;
}

@media (min-width: 37.5em) {
  .contactForm__namesInputContainer, .contactForm__numbersInputContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}
.contactForm__field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
}
.contactForm__field input, .contactForm__field textarea {
  border-radius: 0.35rem;
  border: 2px solid #6CB347;
  padding: 0.5rem;
}
.contactForm__submitButton {
  margin: 2rem auto;
}

.contactUsDetailsComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.contactUsDetailsComponent__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.contactUsDetailsComponent__contactUsIcon {
  width: 3.2rem;
}
.contactUsDetailsComponent__paragraph {
  width: 90%;
}

.googleMapsIframe {
  border: 2px solid #6CB347;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px 1px rgba(30, 32, 32, 0.45);
  width: 100%;
  height: 100%;
}
@media (min-width: 600px) {
  .googleMapsIframe {
    width: 100%;
    height: 45vh;
  }
}
@media (min-width: 900px) {
  .googleMapsIframe {
    width: 55%;
    height: 45vh;
  }
}
.googleMapsIframe__map {
  width: 100%;
  height: 100%;
}

.headingH2Container {
  position: relative;
}
.headingH2Container__headingH2 {
  position: relative;
}

.headingH3Container {
  position: relative;
}

.headingSlideContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 600px) {
  .headingSlideContainer {
    justify-content: flex-start;
  }
}
.linkDiv {
  position: absolute;
  top: -8.5rem;
  left: 0;
}
.linkDiv--home {
  top: 0;
}
.linkDiv--termsAndConditions {
  top: -10rem;
}

.logo {
  position: relative;
}
.logo__img {
  display: inline;
  height: auto;
  width: 4.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.logo__text {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0rem;
  margin: 0.1rem 0 0 4.2rem;
}

.logoAndNumbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: clamp(0.12rem, 3vw, 4rem);
  position: relative;
  z-index: 100;
}

.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.numbers__landlineContainer, .numbers__whatsappContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.275rem;
}
.numbers__icon {
  height: 14px;
  width: 14px;
}

.contactIconsContainer {
  order: 2;
}

.hamburgerBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  background-color: transparent;
  width: 3rem;
  height: 4.6rem;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: relative;
  z-index: 100;
  backface-visibility: hidden;
}
.hamburgerBtn__hamburgerBar {
  background-color: #f0f0f0;
  width: 100%;
  height: 3px;
}
.hamburgerBtn__hamburgerBar--top, .hamburgerBtn__hamburgerBar--middle, .hamburgerBtn__hamburgerBar--bottom {
  position: absolute;
  left: 0;
}
.hamburgerBtn__hamburgerBar--top {
  top: 32%;
  transition: all 0.5s;
}
.hamburgerBtn__hamburgerBar--middle {
  top: 50%;
  transition: opacity 3s;
}
.hamburgerBtn__hamburgerBar--bottom {
  top: 67%;
  transition: all 0.5s;
}
.hamburgerBtn__hamburgerBar--transparent {
  opacity: 0;
  transition: all 0s;
}
.hamburgerBtn:hover > .hamburgerBtn__hamburgerBar--top {
  transform: translateY(-2px);
}
.hamburgerBtn:hover > .hamburgerBtn__hamburgerBar--bottom {
  transform: translateY(2px);
}
.navbarSection > .hamburgerBtn > .hamburgerBtn__hamburgerBar--right {
  transform: rotate(135deg);
  height: 4px;
  top: 50%;
}
.navbarSection > .hamburgerBtn > .hamburgerBtn__hamburgerBar--left {
  transform: rotate(-135deg);
  height: 4px;
  top: 50%;
}

.navList--displayNone {
  display: none;
}

.navList--display {
  display: flex;
}

.navList {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f0f0f0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 12rem 3rem;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 1;
  z-index: 0;
}
.navList__navItem {
  margin-bottom: 1rem;
}
.navList__navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  z-index: 100;
  transition: all 0.4s;
}
.navList__navLink::after {
  content: "";
  background-color: #e94104;
  height: 2px;
  width: 99%;
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: -100;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0s;
}
.navList__navLink:hover::after {
  transform: scaleX(1);
  transition: 0.4s ease-in;
}
.navList__navLink:hover {
  animation: animateNavLink 0.4s ease-in 1 forwards;
}
.navList .navFrame {
  background-color: #001d36;
  border-bottom: 1px solid #6CB347;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.navList__icon {
  background-color: transparent;
  height: 24px;
  width: 24px;
}
.navList__icon--rightArrow {
  height: 16px;
  width: 16px;
}

.navListSecondary {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 1rem;
  gap: 0.55rem;
}
@media (min-width: 400px) and (max-height: 800px) {
  .navListSecondary {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.55rem;
    column-gap: 3rem;
    width: min(100%, 40rem);
    max-height: 110px;
    padding: 0.5rem 1rem;
    margin: auto auto;
  }
}
@media (min-width: 500px) and (max-height: 800px) {
  .navListSecondary {
    gap: 0.55rem;
    column-gap: 3rem;
    width: min(100%, 52rem);
  }
}
@media (min-width: 600px) and (max-height: 800px) {
  .navListSecondary {
    gap: 0.55rem;
    column-gap: 3rem;
    width: min(100%, 70rem);
  }
}
@media (min-width: 750px) and (max-height: 800px) {
  .navListSecondary {
    gap: 0.35rem;
    column-gap: 2.25rem;
    width: min(90%, 80rem);
  }
}
@media (min-width: 900px) and (max-height: 800px) {
  .navListSecondary {
    width: min(90%, 100rem);
  }
}
@media (min-width: 1200px) and (min-height: 800px) {
  .navListSecondary {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    gap: 8rem;
    row-gap: 2rem;
    width: 85%;
    max-height: 210px;
    margin: auto auto;
  }
}
.navListSecondary__navItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 600px) and (max-height: 750px) {
  .navListSecondary__navItem {
    margin-right: 2rem;
    margin-bottom: 0.25rem;
  }
}
.navListSecondary__navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  z-index: 100;
  transition: all 0.4s;
}
.navListSecondary__navLink::after {
  content: "";
  background-color: #001d36;
  height: 2px;
  width: 99%;
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: -100;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0s;
}
.navListSecondary__navLink:hover::after {
  transform: scaleX(1);
  transition: 0.4s ease-in;
}
.navListSecondary__navLink:hover {
  animation: animateNavLink 0.4s ease-in 1 forwards;
}
.navListSecondary__icon {
  height: clamp(1.2rem + 1vw, 1.6vh, 2.5rem + 1vw);
  width: clamp(1.2rem + 1vw, 1.6vh, 2.5rem + 1vw);
}
@media (min-height: 800px) {
  .navListSecondary__icon {
    height: clamp(1.2rem + 1vw, 2.6vh, 2.5rem + 1vw);
    width: clamp(1.2rem + 1vw, 2.6vh, 2.5rem + 1vw);
  }
}

.navList--navListMoveIn {
  animation: animateNavListContainerMoveIn 0.4s ease-out forwards;
}

.navList--navListMoveOut {
  animation: animateNavListContainerMoveOut 0.4s ease-out 0.8s forwards;
}

.navItem--moveIn {
  animation: animateNavItemsMoveIn 0.4s ease-out forwards;
}

.navItem--moveOut {
  animation: animateNavItemsMoveOut 0.3s ease-in forwards;
}

.pharmacyDepartment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1.25rem;
}
.pharmacyDepartment__hr {
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, rgba(108, 179, 71, 0.4) 15%, #6cb347 40%, #3E6629, #6cb347 60%, rgba(108, 179, 71, 0.4) 85%, transparent);
}

.photoCollageContainer {
  margin: 2rem auto 4rem;
}

.photoCollage {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 125vw) repeat(7, 65vw);
  gap: 2rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin: 0 auto;
}
@media (min-width: 350px) {
  .photoCollage {
    grid-template-columns: repeat(6, 3.5rem);
    grid-template-rows: repeat(2, 43.75rem) repeat(7, 22.5rem);
    width: min(100%, 35rem);
    margin: 0 auto;
  }
}
@media (min-width: 37.5em) {
  .photoCollage {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 60vw) repeat(5, 35vw);
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 56.25em) {
  .photoCollage {
    grid-template-columns: repeat(6, clamp(12rem, 13.2vw, 16rem));
    grid-template-rows: repeat(4, clamp(18rem, 22vw, 22rem));
    width: min(100%, 90rem);
    margin: 0 auto 0 0;
  }
}
@media (min-width: 75em) {
  .photoCollage {
    grid-template-columns: repeat(7, clamp(11rem, 11.25vw, 15rem));
    grid-template-rows: repeat(3, clamp(14rem, 14vw, 18rem));
    width: 100%;
    margin: 0 auto 0 0;
  }
}
.photoCollage__cardPhotoContainer {
  perspective: 1200px;
}
.photoCollage__cardPhotoContainer--container1 {
  grid-column: 1/-1;
  grid-row: 1/span 1;
}
.photoCollage__cardPhotoContainer--container2 {
  grid-column: 1/-1;
  grid-row: 2/span 1;
}
.photoCollage__cardPhotoContainer--container3 {
  grid-column: 1/span 3;
  grid-row: 3/span 1;
}
.photoCollage__cardPhotoContainer--container4 {
  grid-column: 4/span 3;
  grid-row: 3/span 1;
}
.photoCollage__cardPhotoContainer--container5 {
  grid-column: 1/span 3;
  grid-row: 4/span 1;
}
.photoCollage__cardPhotoContainer--container6 {
  grid-column: 4/span 3;
  grid-row: 4/span 1;
}
.photoCollage__cardPhotoContainer--container7 {
  grid-column: 1/span 3;
  grid-row: 5/span 1;
}
.photoCollage__cardPhotoContainer--container8 {
  grid-column: 4/span 3;
  grid-row: 5/span 1;
}
.photoCollage__cardPhotoContainer--container9 {
  grid-column: 1/span 3;
  grid-row: 6/span 1;
}
.photoCollage__cardPhotoContainer--container10 {
  grid-column: 4/span 3;
  grid-row: 6/span 1;
}
.photoCollage__cardPhotoContainer--container11 {
  grid-column: 1/span 3;
  grid-row: 7/span 1;
}
.photoCollage__cardPhotoContainer--container12 {
  grid-column: 4/span 3;
  grid-row: 7/span 1;
}
.photoCollage__cardPhotoContainer--container13 {
  grid-column: 1/span 3;
  grid-row: 8/span 1;
}
.photoCollage__cardPhotoContainer--container14 {
  grid-column: 4/span 3;
  grid-row: 8/span 1;
}
.photoCollage__cardPhotoContainer--container15 {
  grid-column: 1/span 3;
  grid-row: 9/span 1;
}
@media (min-width: 37.5em) {
  .photoCollage__cardPhotoContainer--container1 {
    grid-column: 1/span 3;
    grid-row: 1/span 1;
  }
  .photoCollage__cardPhotoContainer--container2 {
    grid-column: 4/span 3;
    grid-row: 1/span 1;
  }
  .photoCollage__cardPhotoContainer--container3 {
    grid-column: 1/span 2;
    grid-row: 2/span 1;
  }
  .photoCollage__cardPhotoContainer--container4 {
    grid-column: 3/span 2;
    grid-row: 2/span 1;
  }
  .photoCollage__cardPhotoContainer--container5 {
    grid-column: 5/span 2;
    grid-row: 2/span 1;
  }
  .photoCollage__cardPhotoContainer--container6 {
    grid-column: 1/span 2;
    grid-row: 3/span 1;
  }
  .photoCollage__cardPhotoContainer--container7 {
    grid-column: 3/span 2;
    grid-row: 3/span 1;
  }
  .photoCollage__cardPhotoContainer--container8 {
    grid-column: 5/span 2;
    grid-row: 3/span 1;
  }
  .photoCollage__cardPhotoContainer--container9 {
    grid-column: 1/span 2;
    grid-row: 4/span 1;
  }
  .photoCollage__cardPhotoContainer--container10 {
    grid-column: 3/span 2;
    grid-row: 4/span 1;
  }
  .photoCollage__cardPhotoContainer--container11 {
    grid-column: 5/span 2;
    grid-row: 4/span 1;
  }
  .photoCollage__cardPhotoContainer--container12 {
    grid-column: 1/span 2;
    grid-row: 5/span 1;
  }
  .photoCollage__cardPhotoContainer--container13 {
    grid-column: 3/span 2;
    grid-row: 5/span 1;
  }
  .photoCollage__cardPhotoContainer--container14 {
    grid-column: 5/span 2;
    grid-row: 5/span 1;
  }
  .photoCollage__cardPhotoContainer--container15 {
    grid-column: 1/span 2;
    grid-row: 6/span 1;
  }
}
@media (min-width: 56.25em) {
  .photoCollage__cardPhotoContainer--container1 {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
  }
  .photoCollage__cardPhotoContainer--container2 {
    grid-column: 3/span 2;
    grid-row: 1/span 2;
  }
  .photoCollage__cardPhotoContainer--container3 {
    grid-column: 5/span 1;
    grid-row: 1/span 1;
  }
  .photoCollage__cardPhotoContainer--container4 {
    grid-column: 6/span 1;
    grid-row: 1/span 1;
  }
  .photoCollage__cardPhotoContainer--container5 {
    grid-column: 5/span 1;
    grid-row: 2/span 1;
  }
  .photoCollage__cardPhotoContainer--container6 {
    grid-column: 6/span 1;
    grid-row: 2/span 1;
  }
  .photoCollage__cardPhotoContainer--container7 {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
  }
  .photoCollage__cardPhotoContainer--container8 {
    grid-column: 2/span 1;
    grid-row: 3/span 1;
  }
  .photoCollage__cardPhotoContainer--container9 {
    grid-column: 3/span 1;
    grid-row: 3/span 1;
  }
  .photoCollage__cardPhotoContainer--container10 {
    grid-column: 4/span 1;
    grid-row: 3/span 1;
  }
  .photoCollage__cardPhotoContainer--container11 {
    grid-column: 3/span 1;
    grid-row: 4/span 1;
  }
  .photoCollage__cardPhotoContainer--container12 {
    grid-column: 5/span 1;
    grid-row: 3/span 1;
  }
  .photoCollage__cardPhotoContainer--container13 {
    grid-column: 2/span 1;
    grid-row: 4/span 1;
  }
  .photoCollage__cardPhotoContainer--container14 {
    grid-column: 1/span 1;
    grid-row: 4/span 1;
  }
  .photoCollage__cardPhotoContainer--container15 {
    grid-column: 6/span 1;
    grid-row: 3/span 1;
  }
}
@media (min-width: 75em) {
  .photoCollage__cardPhotoContainer--container1 {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
  }
  .photoCollage__cardPhotoContainer--container2 {
    grid-column: 3/span 2;
    grid-row: 1/span 2;
  }
  .photoCollage__cardPhotoContainer--container3 {
    grid-column: 5/span 1;
    grid-row: 1/span 1;
  }
  .photoCollage__cardPhotoContainer--container4 {
    grid-column: 6/span 1;
    grid-row: 1/span 1;
  }
  .photoCollage__cardPhotoContainer--container5 {
    grid-column: 7/span 1;
    grid-row: 1/span 1;
  }
  .photoCollage__cardPhotoContainer--container6 {
    grid-column: 5/span 1;
    grid-row: 2/span 1;
  }
  .photoCollage__cardPhotoContainer--container7 {
    grid-column: 6/span 1;
    grid-row: 2/span 1;
  }
  .photoCollage__cardPhotoContainer--container8 {
    grid-column: 7/span 1;
    grid-row: 2/span 1;
  }
  .photoCollage__cardPhotoContainer--container9 {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
  }
  .photoCollage__cardPhotoContainer--container10 {
    grid-column: 2/span 1;
    grid-row: 3/span 1;
  }
  .photoCollage__cardPhotoContainer--container11 {
    grid-column: 7/span 1;
    grid-row: 3/span 1;
  }
  .photoCollage__cardPhotoContainer--container12 {
    grid-column: 3/span 1;
    grid-row: 3/span 1;
  }
  .photoCollage__cardPhotoContainer--container13 {
    grid-column: 6/span 1;
    grid-row: 3/span 1;
  }
  .photoCollage__cardPhotoContainer--container14 {
    grid-column: 5/span 1;
    grid-row: 3/span 1;
  }
  .photoCollage__cardPhotoContainer--container15 {
    grid-column: 4/span 1;
    grid-row: 3/span 1;
  }
}
.photoCollage__cardPhoto {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.6s ease;
  transform-style: preserve-3d;
}
.photoCollage__cardPhotoFront, .photoCollage__cardPhotoBack {
  border-radius: 5px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.photoCollage__cardPhotoFront {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 0.75rem;
}
.photoCollage__cardPhotoBack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.45rem;
  background-image: linear-gradient(135deg, #001d36 35%, rgba(0, 29, 54, 0.85) 55%, rgba(0, 29, 54, 0.65) 75%, rgba(0, 29, 54, 0.45) 85%, rgba(240, 240, 240, 0.25));
  padding: 1rem;
}
.photoCollage__cardPhotoBackFirstAndSecond {
  justify-content: flex-start;
  gap: 2rem;
}
.photoCollage .rotateCard {
  transform: rotateY(180deg);
}
.photoCollage__cardPhotoBack {
  transform: rotateY(180deg);
}
.photoCollage__cardPhotoBtn {
  order: 1;
}
.photoCollage__cardPhotoBtn::after {
  content: "";
  background-color: #f0f0f0;
  height: 1px;
  width: 99%;
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: -100;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0s;
}
.photoCollage__cardPhoto:hover .photoCollage__cardPhotoBtn::after {
  transform: scaleX(1);
  transition: 0.4s ease-in;
}
.photoCollage__cardPhoto:hover {
  animation: animateNavLink 0.4s ease-in 1 forwards;
}
.photoCollage__cardPhotoFront--photo1 {
  background-image: linear-gradient(0deg, rgba(30, 32, 32, 0.75) 8%, rgba(30, 32, 32, 0.45) 25%, transparent 50%), url("../img/staff/ProteaPharmacyPieterJones11July2023.webp"), linear-gradient(155deg, #3e6629 5%, #6cb347 35%, #f0f0f0 75%);
}
.photoCollage__cardPhotoFront--photo2 {
  background-image: linear-gradient(0deg, rgba(30, 32, 32, 0.75) 8%, rgba(30, 32, 32, 0.45) 25%, transparent 50%), url("../img/staff/ProteaPharmacyCornellLaurens04July2023.webp"), linear-gradient(155deg, #3e6629 5%, #6cb347 35%, #f0f0f0 75%);
}
.photoCollage__cardPhotoFront--photo3 {
  background-image: linear-gradient(0deg, rgba(30, 32, 32, 0.75) 8%, rgba(30, 32, 32, 0.45) 25%, transparent 50%), url("../img/staff/ProteaPharmacyPharmacistNinaBriel26June2023.webp"), linear-gradient(155deg, #3e6629 5%, #6cb347 35%, #f0f0f0 75%);
}
.photoCollage__cardPhotoFront--photo4 {
  background-image: linear-gradient(0deg, rgba(30, 32, 32, 0.75) 8%, rgba(30, 32, 32, 0.45) 25%, transparent 50%), url("../img/staff/ProteaPharmacyAnzelleBritz26June2023.webp"), linear-gradient(155deg, #3e6629 5%, #6cb347 35%, #f0f0f0 75%);
}
.photoCollage__cardPhotoFront--photo5 {
  background-image: linear-gradient(0deg, rgba(30, 32, 32, 0.75) 8%, rgba(30, 32, 32, 0.45) 25%, transparent 50%), url("../img/staff/ProteaPharmacyCorneOlivier26June2023.webp"), linear-gradient(155deg, #3e6629 5%, #6cb347 35%, #f0f0f0 75%);
}
.photoCollage__cardPhotoFront--photo6 {
  background-image: linear-gradient(0deg, rgba(30, 32, 32, 0.75) 8%, rgba(30, 32, 32, 0.45) 25%, transparent 50%), url("../img/staff/ProteaPharmacyJoleneRautenbach16Aug2023.webp"), linear-gradient(155deg, #3e6629 5%, #6cb347 35%, #f0f0f0 75%);
}
.photoCollage__cardPhotoFront--photo7 {
  background-image: linear-gradient(0deg, rgba(30, 32, 32, 0.75) 8%, rgba(30, 32, 32, 0.45) 25%, transparent 50%), url("../img/staff/ProteaPharmacyRinaPotgieter11July2023.webp"), linear-gradient(155deg, #3e6629 5%, #6cb347 35%, #f0f0f0 75%);
}
.photoCollage__cardPhotoFront--photo8 {
  background-image: linear-gradient(0deg, rgba(30, 32, 32, 0.75) 8%, rgba(30, 32, 32, 0.45) 25%, transparent 50%), url("../img/staff/ProteaPharmacyLudwigKieck11July2023.webp"), linear-gradient(155deg, #3e6629 5%, #6cb347 35%, #f0f0f0 75%);
}
.photoCollage__cardPhotoFront--photo9 {
  background-image: linear-gradient(0deg, rgba(30, 32, 32, 0.75) 8%, rgba(30, 32, 32, 0.45) 25%, transparent 50%), url("../img/staff/ProteaPharmacyStephnieEngelbrecht11July2023.webp"), linear-gradient(155deg, #3e6629 5%, #6cb347 35%, #f0f0f0 75%);
}
.photoCollage__cardPhotoFront--photo10 {
  background-image: linear-gradient(0deg, rgba(30, 32, 32, 0.75) 8%, rgba(30, 32, 32, 0.45) 25%, transparent 50%), url("../img/staff/ProteaPharmacySindyFourie11July2023.webp"), linear-gradient(155deg, #3e6629 5%, #6cb347 35%, #f0f0f0 75%);
}
.photoCollage__cardPhotoFront--photo11 {
  background-image: linear-gradient(0deg, rgba(30, 32, 32, 0.75) 8%, rgba(30, 32, 32, 0.45) 25%, transparent 50%), url("../img/staff/ProteaPharmacyMarlyneSethole26June2023.webp"), linear-gradient(155deg, #3e6629 5%, #6cb347 35%, #f0f0f0 75%);
}
.photoCollage__cardPhotoFront--photo12 {
  background-image: linear-gradient(0deg, rgba(30, 32, 32, 0.75) 8%, rgba(30, 32, 32, 0.45) 25%, transparent 50%), url("../img/staff/ProteaPharmacyPietMogale26June2023.webp"), linear-gradient(155deg, #3e6629 5%, #6cb347 35%, #f0f0f0 75%);
}
.photoCollage__cardPhotoFront--photo13 {
  background-image: linear-gradient(0deg, rgba(30, 32, 32, 0.75) 8%, rgba(30, 32, 32, 0.45) 25%, transparent 50%), url("../img/staff/ProteaPharmacyJohannaMoshokwa11July2023.webp"), linear-gradient(155deg, #3e6629 5%, #6cb347 35%, #f0f0f0 75%);
}
.photoCollage__cardPhotoFront--photo14 {
  background-image: linear-gradient(0deg, rgba(30, 32, 32, 0.75) 8%, rgba(30, 32, 32, 0.45) 25%, transparent 50%), url("../img/staff/ProteaPharmacyAfrikaMaluleke11July2023.webp"), linear-gradient(155deg, #3e6629 5%, #6cb347 35%, #f0f0f0 75%);
}
.photoCollage__cardPhotoFront--photo15 {
  background-image: linear-gradient(0deg, rgba(30, 32, 32, 0.75) 8%, rgba(30, 32, 32, 0.45) 25%, transparent 50%), url("../img/staff/ProteaPharmacySammyMogale26June2023.webp"), linear-gradient(155deg, #3e6629 5%, #6cb347 35%, #f0f0f0 75%);
}
.photoCollage__cardPhotoIcon {
  height: clamp(1rem + 0.8vw, 1.3vh, 2.4rem + 1vw);
  width: clamp(1rem + 0.8vw, 1.3vh, 2.4rem + 1vw);
}
.photoCollage__cardPhotoBackIcon {
  height: 1.8rem;
  width: 1.8rem;
}

.displayNone {
  display: none;
}

.promotionContainer {
  min-height: 45rem;
}
.promotionContainer a {
  width: min(100%, 450px);
  margin: 0 auto;
}

.socialMediaNavList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(2rem, 6vw, 5rem);
}
.socialMediaNavList__socialMediaNavIcon {
  width: clamp(3rem, 6vw, 5rem);
  height: clamp(3rem, 6vw, 5rem);
}

.teamMember {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.teamMember__img {
  background: linear-gradient(135deg, #f0f0f0 5%, #6CB347 35%, #3E6629 65%);
  border: 2px solid #f0f0f0;
  border-radius: 100%;
  box-shadow: 0 0 6px 1px rgba(0, 29, 54, 0.6);
  width: 6rem;
}
.teamMember__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.termsAndConditions {
  position: relative;
}

.termsAndConditions-displayNone {
  display: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  background-color: #f0f0f0;
  padding: 0 0rem;
  margin: 0 auto;
}
.footer hr {
  border: none;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #6CB347;
  margin: 0.25rem 0;
}
.footer .footerHeroSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 56.25em) {
  .footer .footerHeroSection {
    flex-direction: row;
  }
}
@media (min-width: 56.25em) {
  .footer .footerHeroSection__heroLogo {
    width: 55%;
    height: 45vh;
  }
}
.footer .footerHeroSection__heroLogo .primaryHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: clamp(0.5rem, 1vh, 1.6rem);
  background-color: #001d36;
  border-radius: 0.25rem;
  width: 100%;
  padding: 2rem 2.2rem;
}
@media (min-width: 56.25em) {
  .footer .footerHeroSection__heroLogo .primaryHeading {
    width: 100%;
    height: 100%;
  }
}
.footer .footerHeroSection__heroLogo .primaryHeading__headAndBylineContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .footerHeroSection__heroLogo .primaryHeading__headline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-left: 5rem;
  position: relative;
}
.footer .footerHeroSection__heroLogo .primaryHeading__headlineImage {
  width: 6rem;
  position: absolute;
  top: -0.45rem;
  left: -5.5rem;
}
.footer .footerHeroSection__heroLogo .primaryHeading__headlineText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0rem;
}
.footer .footerHeroSection__heroLogo .primaryHeading__headlineTextMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0rem;
}
.footer .footerHeroSection__heroContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 56.25em) {
  .footer .footerHeroSection__heroContent {
    gap: 1rem;
  }
}
.footer .footerHeroSection__socialMediaFooter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 600px) {
  .footer .footerHeroSection__socialMediaFooter {
    width: min(100%, 60rem);
    padding: 0 3rem;
  }
}
@media (min-width: 900px) {
  .footer .footerHeroSection__socialMediaFooter {
    width: min(100%, 75rem);
    padding: 0;
    align-items: start;
  }
}
@media (min-width: 1200px) {
  .footer .footerHeroSection__socialMediaFooter {
    width: min(100%, 82rem);
  }
}
.footer .secondaryNavSection__secondaryNavList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 900px) {
  .footer .secondaryNavSection__secondaryNavList {
    width: min(100%, 75rem);
    padding: 0 3rem;
    align-items: start;
  }
}
@media (min-width: 1200px) {
  .footer .secondaryNavSection__secondaryNavList {
    width: min(100%, 82rem);
    padding: 0 3rem;
  }
}
@media (min-width: 900px) {
  .footer .secondaryNavSection__secondaryNavList {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer .secondaryNavSection__secondaryNavList .secondaryNavListNavItem {
    flex: 1 0 250px;
  }
  .footer .secondaryNavSection__secondaryNavList .secondaryNavListNavTextItem {
    text-align: left;
  }
}
.footer .termsAndConditionsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.footer .termsAndConditionsSection__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: none;
  cursor: pointer;
}
.footer .tsAndCs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #bfbfbf;
  padding: 0 1rem;
  position: relative;
}
.footer .tsAndCs__closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #bfbfbf;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  box-shadow: 2px 2px 7px 2px rgba(30, 32, 32, 0.3);
  padding: 0.5rem 2rem;
  margin-top: 1.5rem;
  cursor: pointer;
  position: sticky;
  top: 8rem;
}
.footer .tsAndCs__xIcon {
  color: #f0f0f0;
  background-color: #CD4536;
  border: 2px solid #f0f0f0;
  padding: 0 0.5rem 0.25rem 0.5rem;
}
.footer__footerEnd {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001d36;
  width: 100%;
  padding: 1.5rem;
  margin: 0 auto;
}
.footer__footerEnd .copyrightAndWebdevContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 37.5em) {
  .footer__footerEnd .copyrightAndWebdevContainer {
    width: min(100%, 60rem);
    padding: 0 3rem;
  }
}
@media (min-width: 56.25em) {
  .footer__footerEnd .copyrightAndWebdevContainer {
    flex-direction: row;
    justify-content: space-between;
    width: min(100%, 75rem);
    padding: 0 3rem;
  }
}
@media (min-width: 75em) {
  .footer__footerEnd .copyrightAndWebdevContainer {
    width: min(100%, 100rem);
    padding: 0 4rem;
  }
}

.hidden {
  display: none;
  height: 0;
  overflow: hidden;
}

.displayBlock {
  display: block;
}

.header {
  position: relative;
}

.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: clamp(1rem, 3vh, 3rem);
  background-image: url("../../img/Images/OrangeTreeHeroImage.webp");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  height: clamp(50rem, 100vh, 70rem);
  padding: clamp(1rem, 3vh, 3rem) 1rem 0;
}
@media (min-height: 550px) {
  .heroSection {
    gap: clamp(3rem, 7vh, 6rem);
    padding: clamp(3rem, 7vh, 6rem) 1rem 0;
  }
}
@media (min-height: 550px) and (min-width: 900px) {
  .heroSection {
    gap: clamp(2.2rem, 5vh, 5rem);
    padding: clamp(3rem, 7vh, 6rem) 1rem 0;
  }
}
@media (min-height: 600px) and (min-width: 900px) {
  .heroSection {
    gap: clamp(2.6rem, 7vh, 5.4rem);
    padding: clamp(3rem, 7vh, 6rem) 1rem 0;
  }
}
@media (min-height: 650px) and (min-width: 1200px) {
  .heroSection {
    gap: clamp(2.2rem, 5vh, 5rem);
    padding: clamp(3rem, 7vh, 6rem) 1rem 0;
  }
}
.heroSection .primaryHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: clamp(0.5rem, 1vh, 1.6rem);
  background-color: rgba(0, 29, 54, 0.85);
  border-radius: 0.25rem;
  max-width: 45rem;
  padding: 1rem;
}
.heroSection .primaryHeading__headAndBylineContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heroSection .primaryHeading__headline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-left: 5rem;
  position: relative;
}
.heroSection .primaryHeading__headlineImage {
  width: clamp(6rem, 22vw, 7.5rem);
  position: absolute;
  top: -0.45rem;
  left: -5.5rem;
}
.heroSection .primaryHeading__headlineText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0rem;
  margin-left: clamp(0.001rem, 2vw, 1.8rem);
}
@media (min-width: 300px) {
  .heroSection .primaryHeading__headlineText {
    margin-left: clamp(0.1rem, 2.5vw, 2rem);
  }
}
@media (min-width: 320px) {
  .heroSection .primaryHeading__headlineText {
    margin-left: clamp(1.4rem, 2.6vw, 1.6rem);
  }
}
.heroSection .primaryHeading__headlineTextMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0rem;
}
.heroSection .primaryHeading__hr {
  border: none;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #6CB347;
  margin: 0.25rem 0;
}
.heroSection__contentContainer {
  background-color: rgba(0, 29, 54, 0.85);
  border-radius: 0.25rem;
  max-width: 45rem;
  padding: 1rem;
}
.heroSection__buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 2vh, 4rem);
  position: relative;
  z-index: 100;
}
@media (min-width: 900px) {
  .heroSection__buttonsContainer {
    flex-direction: row;
  }
}
.heroSection__buttonsContainer .loyaltyClubPopUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background: linear-gradient(90deg, #6CB347, #e94104);
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  width: 120%;
  padding: 1.5rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.heroSection__buttonsContainer .loyaltyClubPopUp__closeX {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e94104;
  border: 1px solid #001d36;
  border-radius: 2px;
  padding: 0.1rem 0.45rem 0.1rem 0.6rem;
}

.hidden {
  display: none;
  opacity: 0;
  transform: scal(0);
  z-index: -1000;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 8rem;
  width: min(100%, 45rem);
  padding: 5rem 1rem;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .main {
    width: min(100%, 60rem);
    padding: 5rem 2rem;
  }
}
@media (min-width: 900px) {
  .main {
    width: min(100%, 75rem);
    padding: 5rem 3rem;
  }
}
@media (min-width: 1200px) {
  .main {
    width: min(100%, 82rem);
    padding: 5rem 4rem;
  }
}

.socialMediaSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.aboutSection, .googleReviewsSection, .contactUsSection, .tradingHoursSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.aboutSection .sectionContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.aboutSection .managementContentContainer, .aboutSection .teamContentContainer, .aboutSection .cardAboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.aboutSection .cardAboutContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
}
@media (min-width: 900px) {
  .aboutSection .cardAboutContainer {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.servicesAndPricingSection .benefitsContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.servicesAndPricingSection .benefitsList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.servicesAndPricingSection .benefitsList__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
}
.servicesAndPricingSection .benefitsList__checkmarkIcon {
  -webkit-text-stroke-color: #e94104;
}
.servicesAndPricingSection .benefitsList__benefitsText {
  padding-bottom: 0.35rem;
}

.googleReviewsSection__sectionContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 900px) {
  .googleReviewsSection__sectionContentContainer {
    align-items: flex-start;
  }
}
.googleReviewsSection__sectionContentContainer .cardGoogleReviewsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 600px) {
  .googleReviewsSection__sectionContentContainer .cardGoogleReviewsContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 900px) {
  .googleReviewsSection__sectionContentContainer .cardGoogleReviewsContainer {
    justify-content: flex-start;
  }
}

.contactUsSection__sectionContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
@media (min-width: 900px) {
  .contactUsSection__sectionContentContainer {
    flex-direction: row;
    gap: 3rem;
  }
}
.contactUsSection .contactUsDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 900px) {
  .contactUsSection .contactUsDetailsContainer__buttonsContainer {
    margin: 0 auto 0 0;
  }
}

.tradingHoursSection__sectionContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
@media (min-width: 900px) {
  .tradingHoursSection__sectionContentContainer {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
  }
}
.tradingHoursSection__sectionContentContainer .tradingHoursContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 900px) {
  .tradingHoursSection__sectionContentContainer .tradingHoursContainer {
    align-items: flex-start;
  }
}

.navbarSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001d36;
  padding: 1rem 2rem;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: all 0.6s;
}
@media (min-width: 37.5em) {
  .navbarSection {
    padding: 1rem 4rem;
  }
}
@media (min-width: 2000px) {
  .navbarSection {
    margin: 0 auto;
    max-width: 2000px;
  }
}

.navbar--background {
  background-color: #001d36;
  border-bottom: 1px solid #6CB347;
}

.paragraph {
  margin: 0 0 1rem;
}
.paragraph--aboutSection {
  margin: 0;
}

.paragraph:last-of-type {
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  gap: 0;
}

/*# sourceMappingURL=style.css.map */
