.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $cp-white;

    padding: 1rem;
    
    gap: .5rem;

    opacity: 1;

    transition: opacity .6s;

    @media (min-width: 2000px) {
        margin: 0 auto;
        max-width: 2000px;
    }

    hr {
        border: none;
        width: 100%;
        height: 1px;

        border-bottom: 1px solid $cp-green;
        
        margin: .25rem 0;
    }

    .footerHeroSection {       
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; 

        gap: clamp(1rem, 3vh, 3rem); 

        width: 100%;
        
        padding: clamp(1rem, 3vh, 3rem) 1rem 0;

        @media (min-height: 550px) {
            gap: clamp(3rem, 7vh, 6rem);
            padding: clamp(3rem, 7vh, 6rem) 1rem 0;
        }

        .primaryHeading {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;

            gap: clamp(.5rem, 1vh, 1.6rem);

            background-color: $cp-darkBlue;
            border-radius: .25rem;

            max-width: 45rem;

            padding: 2rem 2.2rem;
            
            &__headAndBylineContainer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center; 
            }

            &__headline {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                gap: .5rem; 

                margin-left: 5rem; 

                position: relative;  
            }

            &__headlineImage {
                width: 6rem;

                position: absolute;
                top: -.45rem;
                left: -5.5rem;
            }

            &__headlineText {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                gap: 0rem;
            }

            &__headlineTextMain {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                gap: 0rem;
            }

            &__hr {
                border: none;
                width: 100%;
                height: 1px;

                border-bottom: 1px solid $cp-green;
                
                margin: .25rem 0;
            }
        }

        &__contentContainer {
            max-width: 45rem;
            padding: 1rem;
        }
    }

    .socialMediaFooterSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 1rem;
    }

    .secondaryNavSection {
        &__secondaryNavList {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            gap: 1rem;
        }
	}

    .termsAndConditionsSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: .5rem;

        // margin-top: .5rem;

        &__button {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: .5rem;

            border: none;
            cursor: pointer;
        }
    }

    .tsAndCs {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        background-color: $cp-lightGrey;
        padding: 0 1rem;

        position: relative;

        &__closeButton {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 1rem;

            background-color: $cp-lightGrey;
            border: 2px solid $cp-white;
            border-radius: 5px;
            box-shadow: 2px 2px 7px 2px rgba($cp-dark, .3);
            padding: .5rem 2rem;
            margin-top: 1.5rem;
            cursor: pointer;

            position: sticky;
            top: 8rem;
        }

        &__xIcon {
            color: $cf-white;
            background-color: $cp-red;
            border: 2px solid $cp-white;

            padding: 0 .5rem .25rem .5rem;
        }
    }
}

.hidden {
    display: none;
    height: 0;
    overflow: hidden;
}