.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    gap: 5rem;

    width: min(100%, 45rem);

    padding: 5rem 1rem;
    margin: 0 auto;
}

.socialMediaSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 2rem;
}

.aboutSection, .googleReviewsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;

    .sectionContentContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        gap: 2rem;
    }
}

.aboutSection {
    .managementContentContainer, .teamContentContainer, .cardAboutContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        gap: 2rem;
    }
}

.sectionContentContainer__cardGoogleReviewsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 2rem;
}