.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    gap: 8rem;

    width: min(100%, 45rem);

    padding: 5rem 1rem;
    margin: 0 auto;

    @include respond(tab-port) {
        width: min(100%, 60rem);
        padding: 5rem 2rem;
    }

    @include respond(tab-land) {
        width: min(100%, 75rem);
        padding: 5rem 3rem;
    }

    @include respond(desk) {
        width: min(100%, 100rem);
        padding: 5rem 4rem;
    }
}

.socialMediaSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 2rem;
}

.aboutSection, .googleReviewsSection, .contactUsSection, .tradingHoursSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

.aboutSection {
    .sectionContentContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        gap: 2rem;
    }

    .managementContentContainer, .teamContentContainer, .cardAboutContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        gap: 2rem;
    }

    .cardAboutContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        
        gap: 2rem;

        @media (min-width: 900px) {
            flex-direction: column;
            flex-wrap: nowrap;
        }  
    }
}

.servicesAndPricingSection {
    .benefitsContentContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 2rem;
    }

    .benefitsList {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &__item {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            gap: .2rem;
        }

        &__checkmarkIcon {
            -webkit-text-stroke-color: $cp-orangeRed;
        }

        &__benefitsText {
            padding-bottom: .35rem;
        }
    }
}

.googleReviewsSection {
    &__sectionContentContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        gap: 2rem;

        @media (min-width: 900px) {
            align-items: flex-start;
        }

        .cardGoogleReviewsContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            gap: 2rem;

            @media (min-width: 600px) {
                flex-direction: row;
                flex-wrap: wrap;
            }

            @media (min-width: 900px) {
                justify-content: flex-start;
            }
        }
    }
}
.contactUsSection {
    &__sectionContentContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        gap: 2rem;

        width: 100%;

        @include respond(tab-land) {
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 5rem;
        }

        @include respond(desk) {
            gap: 8rem;
        }
    }
    .contactUsDetailsContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        gap: 2rem;

        &__buttonsContainer {
            @media (min-width: 900px) {
                margin: 0 auto 0 0;
            }

            @media (min-width: 1200px) {
                margin: 0 auto 0 .5rem;
            }
        }
    }
}

.tradingHoursSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__sectionContentContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        gap: 2rem;

        width: 100%;

        @include respond(tab-land) {
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 5rem;
        }

        @include respond(desk) {
            gap: 15.5rem;
        }

        .tradingHoursContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            gap: 2rem;

            @include respond(tab-land) {
                width: 30rem;
                align-items: flex-start;
            }
        }

        .buttonsContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            width: 100%;

            @include respond(tab-land) {
                width: 45%;
                align-items: flex-start;
            }
        }
    }
}
