.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    gap: 5rem;

    padding: 5rem 1rem;
}

.socialMediaSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 2rem;
}

.aboutSection {
    .cardAboutContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 1rem;
    }
}

