.carousel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    gap: 2rem;

    width: 100%;

    margin-bottom: 5rem;
    
    &__slideWrapper {
        
    }

    &__buttonWrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__indexWrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        gap: 1rem;
    }

    &__index {
        background-color: $cp-darkBlue;
        border-radius: 100%;
        width: 7px;
        height: 7px;
    }

    &__prev-btn,
    &__next-btn {
        padding: 0 1.45rem;
    }

    &__prev-btn {
        
    }

    &__next-btn {
        
    }
}
