.cardAbout {
    border: 2px solid $cp-green;
    border-radius: .5rem;
    
    position: relative;
    
    .cardAboutFigure {
        background: linear-gradient(to top right, rgba($cp-brightBlue, 1) 55%, rgba($cp-white, .1) 100%);
        border-bottom: 2px solid $cp-green;
        position: relative;
        &__image {
            width: 100%;
            height: 100%;
        }
        &__figcaption {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            gap: 0;

            position: absolute;
            bottom: 1rem;
            left: 1rem;
        }
    }

    .cardAboutFigure::before {
        content: "";
        background: linear-gradient(to top, rgba($cp-darkBlue, 1) 5%, rgba(transparent, .1) 45%);

        width: 100%;
        height: 100%;
        
        position: absolute;
        top: 0;
        left: 0;

        z-index: 0;
    }

    .paragraph {
        padding: 2rem;
    }
}