.contactUsDetailsComponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

    @include respond(tab-land) {
        align-items: flex-start;
        gap: 1.25rem;
        margin-top: 1rem;
    }

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: .5;

        @include respond(tab-land) {
            flex-direction: row;
        }
    }

    &__contactUsIcon {
        width: 3.2rem;
    }

    &__paragraph {
        width: 100%
    }
}