
.primaryHeading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    gap: clamp(.5rem, 1vh, 1.6rem);

    background-color: $cp-darkBlueTransparent;
    border-radius: .25rem;

    max-width: 35rem;

    padding: 1rem;
    margin: 0 auto;

    &__headAndBylineContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 

        // position: relative;
    }

    &__headline {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        gap: .5rem; 

        margin-left: 5rem; 

        position: relative;  
    }

    &__headlineImage {
        width: 6rem;

        position: absolute;
        top: -.45rem;
        left: -5.5rem;
    }

    &__headlineText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        gap: 0rem;
    }

    &__headlineTextMain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        gap: 0rem;
    }

    &__hr {
        border: none;
        width: 100%;
        height: 1px;

        border-bottom: 1px solid $cp-green;
        
        margin: .25rem 0;
    }

    &__byline {
        
    }
}

.headingH2Container {
     
    position: relative;

    &__headingH2 {
        position: relative;
    }
    
}

.headingH3Container {
    position: relative;
}

.headingSlideContainer {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    // tablet portrait
    @media (min-width: 600px) {
        justify-content: flex-start;
    }

    align-items: center;

    gap: .5rem;



    margin-bottom: .5rem;
	
	&__headingH4 {
		
	}

	&__headingH5 {
		
	}
}
