.heroSection {       
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch; 

    gap: clamp(1rem, 3vh, 3rem); 

    background-image: url("../../img/Images/OrangeTreeHeroImage.webp");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;

    height: clamp(50rem, 100vh, 70rem);

    padding: clamp(1rem, 3vh, 3rem) 1rem 0;

    @media (min-height: 550px) {
        gap: clamp(3rem, 7vh, 6rem);
        padding: clamp(3rem, 7vh, 6rem) 1rem 0;
    }

    // @media (min-height: 650px) {
    //     gap: clamp(4rem, 6vh, 7rem);
    //     padding: clamp(4rem, 6vh, 7rem) 1rem 0;
    // }

    &__primaryHeading {

    }

    &__contentContainer {
        background-color: $cp-darkBlueTransparent;
        border-radius: .25rem;

        max-width: 35rem;

        padding: 1rem;
        margin: 0 auto;
    }

    &__buttonsContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: clamp(1rem, 2vh, 4rem);
    }
}