// font-family: 'Lato', sans-serif;  --> body text
// font-family: 'Open Sans', sans-serif;  --> H3 & H4
// font-family: 'Lilita One', cursive;  --> H2
// font-family: 'Rum Raisin', sans-serif;  --> H1

body {
	color: $cf-darkBlue;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.6;

}

.headingH2 {
	font-family: 'Lilita One', cursive;
	color: $cf-darkBlue;
	font-size: 5rem;
	
}